# Environment Configuration
NODE_ENV="development" 
PORT="3004"            
HOST="localhost"

# Link
VENDOR_ORIGIN=http://localhost:5174

# Database
POSTGRES_HOST=localhost
POSTGRES_USER=admin
POSTGRES_PASSWORD=supersecret
POSTGRES_DB=payment-db
POSTGRES_PORT=5434
DATABASE_URL=postgresql://admin:supersecret@localhost:5434/payment-db

# Redis
REDIS_URL="redis://localhost:6379"
REDIS_PORT=6379
REDIS_HOST=localhost
REDIS_PASSWORD=password
REDIS_DB_NUMBER=123
# REDIS_TLS_ENABLED=false

# Stripe    
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PRO_PRICE_ID=
