# Environment Configuration
NODE_ENV="development" 
PORT="3008"            
HOST="localhost"

# Database
POSTGRES_HOST=localhost
POSTGRES_USER=admin
POSTGRES_PASSWORD=supersecret
POSTGRES_DB=cart-db
POSTGRES_PORT=5439
DATABASE_URL=postgresql://admin:supersecret@localhost:5439/cart-db

# Redis
REDIS_URL="redis://localhost:6379"
REDIS_PORT=6379
REDIS_HOST=localhost
REDIS_PASSWORD=password
REDIS_DB_NUMBER=123
# REDIS_TLS_ENABLED=false

# URLs
ORDER_SERVICE_URL="http://localhost:3002" 