# Environment Configuration
NODE_ENV="development" 
PORT="3005"            
HOST="localhost"

# Link
VENDOR_ORIGIN=http://localhost:5174

# Database
POSTGRES_HOST=localhost
POSTGRES_USER=admin
POSTGRES_PASSWORD=supersecret
POSTGRES_DB=upload-db
POSTGRES_PORT=5435
DATABASE_URL=postgresql://admin:supersecret@localhost:5435/upload-db

# Redis
REDIS_URL="redis://localhost:6379"
REDIS_PORT=6379
REDIS_HOST=localhost
REDIS_PASSWORD=password
REDIS_DB_NUMBER=123
# REDIS_TLS_ENABLED=false

# S3
USE_LOCAL_S3=true
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_S3_BUCKET_NAME=
AWS_S3_PORT=9000
AWS_S3_ENDPOINT=http://localhost:9000
