# Environment Configuration
NODE_ENV="development" 
PORT="3001"            
HOST="localhost"      

# CORS Settings
APP_ORIGIN=["http://localhost:5173","http://localhost:5174"]
VENDOR_ORIGIN=http://localhost:5174

# Rate Limiting
COMMON_RATE_LIMIT_WINDOW_MS="1000" # Window size for rate limiting (ms)
COMMON_RATE_LIMIT_MAX_REQUESTS="20" # Max number of requests per window per IP

# Database
POSTGRES_HOST=localhost
POSTGRES_USER=admin
POSTGRES_PASSWORD=supersecret
POSTGRES_DB=auth-db
POSTGRES_PORT=5432
DATABASE_URL=postgresql://admin:supersecret@localhost:5432/auth-db

# Access Token
ACCESS_TOKEN_SECRET=supersecret

# Refresh Token
REFRESH_TOKEN_COOKIE_NAME=refresh_token
REFRESH_TOKEN_SECRET=supersecret

# Vendor Refresh Token
VENDOR_REFRESH_TOKEN_COOKIE_NAME=vendor_refresh_token
VENDOR_REFRESH_TOKEN_SECRET=supersecret

# Redis
REDIS_URL="redis://localhost:6379"
REDIS_PORT=6379
REDIS_HOST=localhost
REDIS_PASSWORD=password
REDIS_DB_NUMBER=123
# REDIS_TLS_ENABLED=false

USER_SERVICE_URL="http://localhost:3006"
VENDOR_SERVICE_URL="http://localhost:3007"
