# Environment Configuration
NODE_ENV="development" 
PORT="3001"            
HOST="localhost"      

# CORS Settings
APP_ORIGIN="http://localhost:5173" 

# Rate Limiting
COMMON_RATE_LIMIT_WINDOW_MS="1000" # Window size for rate limiting (ms)
COMMON_RATE_LIMIT_MAX_REQUESTS="20" # Max number of requests per window per IP

# Database
DATABASE_URL=mongodb+srv://loducfc:ZdyBnNKQNglibSvU@eshop.qjxmooj.mongodb.net/dev