# Environment Configuration
NODE_ENV="development" 
PORT="3000"            
HOST="localhost"      

# CORS Settings
APP_ORIGIN=["http://localhost:5173","http://localhost:5174"]

# Rate Limiting
COMMON_RATE_LIMIT_WINDOW_MS="1000" # Window size for rate limiting (ms)
COMMON_RATE_LIMIT_MAX_REQUESTS="2000" # Max number of requests per window per IP

# Service URLs
AUTH_SERVICE_URL="http://localhost:3001" 
PRODUCT_SERVICE_URL="http://localhost:3002" 
PAYMENT_SERVICE_URL="http://localhost:3003"
UPLOAD_SERVICE_URL="http://localhost:3004"

# JWT
JWT_SECRET=supersecret