# Environment Configuration
NODE_ENV="development" 
PORT="3007"            
HOST="localhost"
# Database
POSTGRES_HOST=localhost
POSTGRES_USER=admin
POSTGRES_PASSWORD=supersecret
POSTGRES_DB=vendor-db
POSTGRES_PORT=5437
DATABASE_URL=postgresql://admin:supersecret@localhost:5437/vendor-db

# Redis
REDIS_URL="redis://localhost:6379"
REDIS_PORT=6379
REDIS_HOST=localhost
REDIS_PASSWORD=password
REDIS_DB_NUMBER=123
# REDIS_TLS_ENABLED=false